<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DataBaseIP" value="127.0.0.1"/>
    <add key="DataBasePort" value="3306"/>
    <add key="DataBaseAccount" value="root"/>
    <add key="DataBasePassword" value="123456"/>
    <!--<add key="DataBasePassword" value="ascent"/>-->
    <add key="DataBaseAuth" value="auth"/>
    <add key="DataBaseCharacters" value="characters"/>
    <add key="DataBaseWorld" value="world"/>
  </appSettings>
</configuration>