<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DBAddress" value="127.0.0.1"/>
    <add key="DBAddressPort" value="3306"/>
    <add key="DBAccount" value="root"/>
    <add key="DBPassword" value="123456"/>
    <!--<add key="DBPassword" value="ascent"/>-->
  </appSettings>
</configuration>